body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-33px;
  width:1203px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13708 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:236px;
  width:314px;
  height:448px;
}
#u13708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13709 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:236px;
  width:332px;
  height:448px;
}
#u13709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13710 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:292px;
  width:228px;
  height:65px;
}
#u13710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:224px;
  word-wrap:break-word;
}
#u13711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13711 {
  border-width:0px;
  position:absolute;
  left:-319px;
  top:483px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u13712 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:129px;
  width:1199px;
  height:1px;
}
#u13712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13713 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:482px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13714 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:481px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13715 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:483px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u13716 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:835px;
  width:1199px;
  height:1px;
}
#u13716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:66px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13717 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:130px;
  width:365px;
  height:66px;
  font-size:18px;
}
#u13717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:361px;
  word-wrap:break-word;
}
#u13718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:66px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13718 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:130px;
  width:498px;
  height:66px;
  font-size:18px;
}
#u13718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:494px;
  word-wrap:break-word;
}
#u13719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:66px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13719 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:130px;
  width:336px;
  height:66px;
  font-size:18px;
}
#u13719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:332px;
  word-wrap:break-word;
}
#u13720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u13720 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:66px;
  width:887px;
  height:43px;
  font-size:26px;
}
#u13720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  word-wrap:break-word;
}
#u13721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13721 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:262px;
  width:154px;
  height:65px;
}
#u13721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u13722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:112px;
}
#u13722 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:396px;
  width:123px;
  height:112px;
}
#u13722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:119px;
  word-wrap:break-word;
}
#u13723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13723 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:422px;
  width:228px;
  height:65px;
}
#u13723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:224px;
  word-wrap:break-word;
}
#u13724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13724 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:563px;
  width:228px;
  height:65px;
}
#u13724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:224px;
  word-wrap:break-word;
}
#u13725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13725 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:289px;
  width:228px;
  height:65px;
}
#u13725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:224px;
  word-wrap:break-word;
}
#u13726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13726 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:419px;
  width:228px;
  height:65px;
}
#u13726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:224px;
  word-wrap:break-word;
}
#u13727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13727 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:560px;
  width:228px;
  height:65px;
}
#u13727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:224px;
  word-wrap:break-word;
}
#u13728 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:327px;
  width:0px;
  height:0px;
}
#u13728_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u13728_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:9px;
  width:9px;
  height:8px;
}
#u13728_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:9px;
  width:8px;
  height:60px;
}
#u13728_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:54px;
  width:24px;
  height:24px;
}
#u13728_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13729 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:560px;
  width:15px;
  height:16px;
}
#u13729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13730 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:508px;
  width:0px;
  height:0px;
}
#u13730_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:196px;
}
#u13730_seg1 {
  border-width:0px;
  position:absolute;
  left:-858px;
  top:188px;
  width:862px;
  height:8px;
}
#u13730_seg2 {
  border-width:0px;
  position:absolute;
  left:-858px;
  top:176px;
  width:8px;
  height:20px;
}
#u13730_seg3 {
  border-width:0px;
  position:absolute;
  left:-866px;
  top:167px;
  width:24px;
  height:24px;
}
#u13730_text {
  border-width:0px;
  position:absolute;
  left:-389px;
  top:184px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13731 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:452px;
  width:0px;
  height:0px;
}
#u13731_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u13731_seg1 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:16px;
}
#u13731_seg2 {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:4px;
  width:189px;
  height:8px;
}
#u13731_seg3 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:24px;
  height:24px;
}
#u13731_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13732 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:430px;
  width:15px;
  height:16px;
}
#u13732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13733 {
  border-width:0px;
  position:absolute;
  left:-318px;
  top:1338px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u13734 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:984px;
  width:1199px;
  height:1px;
}
#u13734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13735 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1337px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13736 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:1336px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u13737 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:1338px;
  width:705px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u13738 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1690px;
  width:1199px;
  height:1px;
}
#u13738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:66px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13739 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:985px;
  width:365px;
  height:66px;
  font-size:18px;
}
#u13739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:361px;
  word-wrap:break-word;
}
#u13740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:66px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13740 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:985px;
  width:498px;
  height:66px;
  font-size:18px;
}
#u13740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:66px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13741 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:985px;
  width:336px;
  height:66px;
  font-size:18px;
}
#u13741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:332px;
  word-wrap:break-word;
}
#u13742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u13742 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:921px;
  width:887px;
  height:43px;
  font-size:26px;
}
#u13742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  word-wrap:break-word;
}
#u13743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13743 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1077px;
  width:154px;
  height:65px;
}
#u13743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u13744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:125px;
}
#u13744 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:1276px;
  width:134px;
  height:125px;
}
#u13744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:130px;
  word-wrap:break-word;
}
#u13745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13745 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1369px;
  width:15px;
  height:16px;
}
#u13745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13746 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1496px;
  width:15px;
  height:16px;
}
#u13746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13747 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1061px;
  width:154px;
  height:65px;
}
#u13747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u13748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13748 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1201px;
  width:154px;
  height:65px;
}
#u13748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:1126px;
  width:0px;
  height:0px;
}
#u13749_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u13749_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:79px;
}
#u13749_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:60px;
  width:24px;
  height:24px;
}
#u13749_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1579px;
  width:154px;
  height:65px;
}
#u13750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u13751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:108px;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1345px;
  width:146px;
  height:108px;
}
#u13751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:142px;
  word-wrap:break-word;
}
#u13752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1579px;
  width:154px;
  height:65px;
}
#u13752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1266px;
  width:0px;
  height:0px;
}
#u13753_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u13753_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:64px;
  width:24px;
  height:24px;
}
#u13753_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1453px;
  width:0px;
  height:0px;
}
#u13754_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:130px;
}
#u13754_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:111px;
  width:24px;
  height:24px;
}
#u13754_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13755 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1399px;
  width:0px;
  height:0px;
}
#u13755_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:290px;
  height:8px;
}
#u13755_seg1 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:-293px;
  width:8px;
  height:297px;
}
#u13755_seg2 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:-293px;
  width:24px;
  height:8px;
}
#u13755_seg3 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-301px;
  width:24px;
  height:24px;
}
#u13755_text {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1401px;
  width:0px;
  height:0px;
}
#u13756_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:110px;
}
#u13756_seg1 {
  border-width:0px;
  position:absolute;
  left:-272px;
  top:102px;
  width:276px;
  height:8px;
}
#u13756_seg2 {
  border-width:0px;
  position:absolute;
  left:-272px;
  top:102px;
  width:8px;
  height:113px;
}
#u13756_seg3 {
  border-width:0px;
  position:absolute;
  left:-379px;
  top:207px;
  width:115px;
  height:8px;
}
#u13756_seg4 {
  border-width:0px;
  position:absolute;
  left:-388px;
  top:199px;
  width:24px;
  height:24px;
}
#u13756_text {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1142px;
  width:0px;
  height:0px;
}
#u13757_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:138px;
}
#u13757_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:119px;
  width:24px;
  height:24px;
}
#u13757_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:1437px;
  width:15px;
  height:16px;
}
#u13758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:1463px;
  width:15px;
  height:16px;
}
#u13759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1077px;
  width:154px;
  height:65px;
}
#u13760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u13761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1201px;
  width:154px;
  height:65px;
}
#u13761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u13762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:108px;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1323px;
  width:146px;
  height:108px;
}
#u13762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:142px;
  word-wrap:break-word;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1142px;
  width:0px;
  height:0px;
}
#u13763_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u13763_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:44px;
  width:24px;
  height:24px;
}
#u13763_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1266px;
  width:0px;
  height:0px;
}
#u13764_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u13764_seg1 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:40px;
  width:12px;
  height:8px;
}
#u13764_seg2 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:40px;
  width:8px;
  height:17px;
}
#u13764_seg3 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:42px;
  width:24px;
  height:24px;
}
#u13764_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:65px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1484px;
  width:154px;
  height:65px;
}
#u13765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:1431px;
  width:0px;
  height:0px;
}
#u13766_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u13766_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:38px;
  width:24px;
  height:24px;
}
#u13766_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:1549px;
  width:0px;
  height:0px;
}
#u13767_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u13767_seg1 {
  border-width:0px;
  position:absolute;
  left:-331px;
  top:59px;
  width:335px;
  height:8px;
}
#u13767_seg2 {
  border-width:0px;
  position:absolute;
  left:-340px;
  top:51px;
  width:24px;
  height:24px;
}
#u13767_text {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:1377px;
  width:0px;
  height:0px;
}
#u13768_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u13768_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-4px;
  width:8px;
  height:291px;
}
#u13768_seg2 {
  border-width:0px;
  position:absolute;
  left:-941px;
  top:279px;
  width:965px;
  height:8px;
}
#u13768_seg3 {
  border-width:0px;
  position:absolute;
  left:-941px;
  top:267px;
  width:8px;
  height:20px;
}
#u13768_seg4 {
  border-width:0px;
  position:absolute;
  left:-949px;
  top:258px;
  width:24px;
  height:24px;
}
#u13768_text {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:275px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:1339px;
  width:0px;
  height:0px;
}
#u13769_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:18px;
  height:8px;
}
#u13769_seg1 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-4px;
  width:8px;
  height:229px;
}
#u13769_seg2 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:217px;
  width:89px;
  height:8px;
}
#u13769_seg3 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:217px;
  width:8px;
  height:23px;
}
#u13769_seg4 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:225px;
  width:24px;
  height:24px;
}
#u13769_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13770 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:1502px;
  width:15px;
  height:16px;
}
#u13770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:1448px;
  width:15px;
  height:16px;
}
#u13771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
