body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:64px;
  background:inherit;
  background-color:rgba(54, 147, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1366px;
  height:64px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:0px;
  width:118px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u421_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u421.mouseOver {
  opacity:0.99;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:70px;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0D519C;
  text-align:left;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:0px;
  width:114px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0D519C;
  text-align:left;
}
#u422_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0D519C;
  text-align:left;
}
#u422.mouseOver {
  opacity:0.99;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:91px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u423_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u423.mouseOver {
  opacity:0.99;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:43px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:5px;
  width:129px;
  height:54px;
  font-size:12px;
  color:#FFFFFF;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 13px rgba(0, 0, 0, 0.329411764705882);
  -webkit-box-shadow:5px 5px 13px rgba(0, 0, 0, 0.329411764705882);
  box-shadow:5px 5px 13px rgba(0, 0, 0, 0.329411764705882);
}
#u427 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:64px;
  width:1366px;
  height:49px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:131px;
  height:75px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:64px;
  width:105px;
  height:49px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:131px;
  height:75px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:64px;
  width:105px;
  height:49px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  text-align:left;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:9px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:56px;
  width:17px;
  height:9px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:27px;
  width:13px;
  height:14px;
  opacity:0.449999988079071;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:0px;
  width:50px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:46px;
  word-wrap:break-word;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:0px;
  width:48px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:44px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:19px;
  width:27px;
  height:26px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:12px;
  width:122px;
  height:44px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:0px;
  width:78px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u436_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u436.mouseOver {
  opacity:0.99;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:30px;
  word-wrap:break-word;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:0px;
  width:112px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u437_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.447058823529412);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u437.mouseOver {
  opacity:0.99;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:64px;
  word-wrap:break-word;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:123px;
  width:100px;
  height:60px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:193px;
  width:100px;
  height:60px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u439_ref {
  border-width:0px;
  position:absolute;
  left:755px;
  top:243px;
  width:1px;
  height:1px;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:263px;
  width:100px;
  height:60px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u440_ref {
  border-width:0px;
  position:absolute;
  left:755px;
  top:313px;
  width:1px;
  height:1px;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:333px;
  width:100px;
  height:60px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u441_ref {
  border-width:0px;
  position:absolute;
  left:755px;
  top:383px;
  width:1px;
  height:1px;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:403px;
  width:100px;
  height:60px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u442_ref {
  border-width:0px;
  position:absolute;
  left:755px;
  top:453px;
  width:1px;
  height:1px;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:473px;
  width:100px;
  height:60px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u443_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:523px;
  width:1px;
  height:1px;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:543px;
  width:100px;
  height:60px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u444_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:593px;
  width:1px;
  height:1px;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:613px;
  width:100px;
  height:60px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u445_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:663px;
  width:1px;
  height:1px;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:683px;
  width:100px;
  height:60px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u446_ref {
  border-width:0px;
  position:absolute;
  left:755px;
  top:733px;
  width:1px;
  height:1px;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:754px;
  width:100px;
  height:60px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u447_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:804px;
  width:1px;
  height:1px;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:824px;
  width:100px;
  height:60px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u448_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:874px;
  width:1px;
  height:1px;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:894px;
  width:100px;
  height:60px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u449_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:944px;
  width:1px;
  height:1px;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:964px;
  width:100px;
  height:60px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u450_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:1014px;
  width:1px;
  height:1px;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:1036px;
  width:100px;
  height:60px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u451_ref {
  border-width:0px;
  position:absolute;
  left:971px;
  top:1086px;
  width:1px;
  height:1px;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:1089px;
  width:100px;
  height:60px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u452_ref {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1139px;
  width:1px;
  height:1px;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:1157px;
  width:100px;
  height:60px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u453_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:1207px;
  width:1px;
  height:1px;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:1227px;
  width:100px;
  height:60px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u454_ref {
  border-width:0px;
  position:absolute;
  left:863px;
  top:1277px;
  width:1px;
  height:1px;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:1292px;
  width:100px;
  height:60px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u455_ref {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1342px;
  width:1px;
  height:1px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:183px;
  width:0px;
  height:0px;
}
#u456_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u456_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:74px;
  height:8px;
}
#u456_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:28px;
  width:24px;
  height:24px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:183px;
  width:0px;
  height:0px;
}
#u457_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u457_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:106px;
  width:74px;
  height:8px;
}
#u457_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:98px;
  width:24px;
  height:24px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:183px;
  width:0px;
  height:0px;
}
#u458_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u458_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:176px;
  width:74px;
  height:8px;
}
#u458_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:168px;
  width:24px;
  height:24px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:117px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:183px;
  width:0px;
  height:0px;
}
#u459_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:254px;
}
#u459_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:246px;
  width:74px;
  height:8px;
}
#u459_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:238px;
  width:24px;
  height:24px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:152px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:463px;
  width:0px;
  height:0px;
}
#u460_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u460_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:62px;
  height:8px;
}
#u460_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:28px;
  width:24px;
  height:24px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:463px;
  width:0px;
  height:0px;
}
#u461_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u461_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:106px;
  width:62px;
  height:8px;
}
#u461_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:98px;
  width:24px;
  height:24px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:463px;
  width:0px;
  height:0px;
}
#u462_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u462_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:176px;
  width:62px;
  height:8px;
}
#u462_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:168px;
  width:24px;
  height:24px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:183px;
  width:0px;
  height:0px;
}
#u463_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:534px;
}
#u463_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:526px;
  width:74px;
  height:8px;
}
#u463_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:518px;
  width:24px;
  height:24px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:292px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:743px;
  width:0px;
  height:0px;
}
#u464_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u464_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:37px;
  width:62px;
  height:8px;
}
#u464_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:29px;
  width:24px;
  height:24px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:743px;
  width:0px;
  height:0px;
}
#u465_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:115px;
}
#u465_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:107px;
  width:62px;
  height:8px;
}
#u465_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:99px;
  width:24px;
  height:24px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:743px;
  width:0px;
  height:0px;
}
#u466_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u466_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:177px;
  width:62px;
  height:8px;
}
#u466_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:169px;
  width:24px;
  height:24px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:743px;
  width:0px;
  height:0px;
}
#u467_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u467_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:247px;
  width:62px;
  height:8px;
}
#u467_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:239px;
  width:24px;
  height:24px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:1024px;
  width:0px;
  height:0px;
}
#u468_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u468_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:62px;
  height:8px;
}
#u468_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:30px;
  width:24px;
  height:24px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:183px;
  width:0px;
  height:0px;
}
#u469_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:940px;
}
#u469_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:932px;
  width:74px;
  height:8px;
}
#u469_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:924px;
  width:24px;
  height:24px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:495px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1149px;
  width:0px;
  height:0px;
}
#u470_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u470_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:34px;
  width:62px;
  height:8px;
}
#u470_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:26px;
  width:24px;
  height:24px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1149px;
  width:0px;
  height:0px;
}
#u471_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:112px;
}
#u471_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:104px;
  width:62px;
  height:8px;
}
#u471_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:96px;
  width:24px;
  height:24px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:183px;
  width:0px;
  height:0px;
}
#u472_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1143px;
}
#u472_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1135px;
  width:74px;
  height:8px;
}
#u472_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1127px;
  width:24px;
  height:24px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:596px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
